* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 12px;
}

a {
  color: #000;
  text-decoration: none;
}

#welcome-section {
  background-color: rgb(255, 217, 218);
  padding: 20%;
  text-align: center;
  width: 100%;
  height: 50%;
  box-shadow: inset 1px 0 10px rgba(20, 20, 20, 50%);
}

h1 {
  color: rgb(137, 2, 62);
  font-size: 40px;
  padding: 10px 0 20px 0;
}

#projects {
  text-align: center;
  padding: 40px 10px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

#seeMore {
  font-size: 20px;
  padding: 2rem 4rem;
  margin: 5rem 0;
  border: 2px solid var(--bs-danger-border-subtle);
  box-shadow: 0 0 20px 5px var(--bs-danger-bg-subtle);
}

.project-tile {
  font-size: 18px;
  font-style: bold;
  text-align: center;
  padding: 50px 0 50px 0;
}

#certification {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #ddd;
  box-shadow: inset 1px 0 10px rgba(20, 20, 20, 50%);
}

.linguagens {
  text-align: center;
}

h2 {
  padding: 70px 0 80px 0;
  font-size: 24px;
}

#contacto {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 1rem;
  z-index: 3;
}

#contact {
  display: flex;
  color: black;
  font-size: 12px;
  margin: 0;
  padding: 1rem;
  height: 100%;
}

.paragraphContact {
  font-size: 16px;
  padding: 1rem 1rem 2rem;
}

#git,
#gmail,
#linkedin {
  padding: 0.2rem 1rem;
  margin: auto;
}

footer {
  position: flex;
  padding: 20px 20px;
  background-color: rgb(137, 2, 62);
  color: rgb(255, 217, 218);
  width: 100%;
  font-size: 12px;
}

#texto1 {
  text-align: left;
  width: 60%;
}

#texto2 {
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.linguagens img {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid var(--bs-danger-border-subtle);
  animation: show 30s infinite;
}

#certification img {
  border-radius: 1rem;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
}

.linkContact {
  animation: show 30s infinite;
}

.linkContact:hover {
  color: #fff !important;
}

.btn,
.card {
  border-color: var(--bs-danger-border-subtle);
  animation: show 30s infinite;
}

.btn:hover {
  color: #000;
  border: 2px solid var(--bs-danger-border-subtle);
  background: var(--bs-danger-bg-subtle);
}

.carousel {
  border-radius: 1rem;
  border: 2px solid var(--bs-danger-border-subtle);
  animation: show 30s infinite;
}

i {
  margin: 0 0.7rem 0 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}

#backgroundSvg {
  position: relative;
  margin: 0;
  display: block;
}

@media (max-width: 768px) {

  .btn {
    font-size: 10px;
    padding: 5px 8px;
  }

  #welcome-section {
    padding: 50% 10% 70%;
    height: 100%;
  }

  #contact {
    margin-bottom: 3rem;
  }

  #contacto h2 {
    padding: 1rem;
  }

  .paragraphContact {
    font-size: 12px;
    padding: 0;
  }

  #contacto {
    padding: 0 6%;
  }

  #git,
  #gmail,
  #linkedin {
    padding: 0 1rem;
    margin: auto;
  }

  i {
    margin: 0 0.1rem 0 0;
  }

  #seeMore {
    padding: 2rem 4rem;
    margin: 5rem 0;
  }

  footer {
    padding: 10px 10px;
    font-size: 9px;
  }
}

@keyframes show {
  0%{border-color: rgb(189, 17, 17); box-shadow: 0 0 10px rgb(189, 17, 17);}
  5%{border-color: rgb(189, 68, 17); box-shadow: 0 0 10px rgb(189, 68, 17);}
  10%{border-color: rgb(189, 114, 17); box-shadow: 0 0 10px rgb(189, 114, 17);}
  15%{border-color: rgb(189, 183, 17); box-shadow: 0 0 10px rgb(189, 183, 17);}
  20%{border-color: rgb(154, 189, 17); box-shadow: 0 0 10px rgb(154, 189, 17);}
  25%{border-color: rgb(63, 189, 17); box-shadow: 0 0 10px rgb(63, 189, 17);}
  30%{border-color: rgb(17, 189, 20); box-shadow: 0 0 10px rgb(17, 189, 20);}
  35%{border-color: rgb(17, 189, 103); box-shadow: 0 0 10px rgb(17, 189, 103);}
  40%{border-color: rgb(17, 189, 154); box-shadow: 0 0 10px rgb(17, 189, 154);}
  45%{border-color: rgb(17, 177, 189); box-shadow: 0 0 10px rgb(17, 177, 189);}
  50%{border-color: rgb(17, 146, 189); box-shadow: 0 0 10px rgb(17, 146, 189);}
  55%{border-color: rgb(17, 111, 189); box-shadow: 0 0 10px rgb(17, 111, 189);}
  60%{border-color: rgb(17, 60, 189); box-shadow: 0 0 10px rgb(17, 60, 189);}
  65%{border-color: rgb(28, 17, 189); box-shadow: 0 0 10px rgb(28, 17, 189);}
  70%{border-color: rgb(71, 17, 189); box-shadow: 0 0 10px rgb(71, 17, 189);}
  75%{border-color: rgb(109, 17, 189); box-shadow: 0 0 10px rgb(109, 17, 189);}
  80%{border-color: rgb(143, 17, 189); box-shadow: 0 0 10px rgb(143, 17, 189);}
  85%{border-color: rgb(174, 17, 189); box-shadow: 0 0 10px rgb(174, 17, 189);}
  90%{border-color: rgb(189, 17, 172); box-shadow: 0 0 10px rgb(189, 17, 172);}
  93%{border-color: rgb(189, 17, 129); box-shadow: 0 0 10px rgb(189, 17, 129);}
  97%{border-color: rgb(189, 17, 91); box-shadow: 0 0 10px rgb(189, 17, 91);}
  100%{border-color: rgb(189, 17, 17); box-shadow: 0 0 10px rgb(189, 17, 17);}
}